@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
    background: linear-gradient(to bottom right, #d9d9d9 40%, #171716);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.trail-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-out;
}
